@media screen and (max-width: 1229px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main {
        overflow: hidden;
        .main-content {
            .container {
                .main-content-image img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .main {
        .main-content{
            .container {
                align-items: start;
                position: relative;
            }
        }
    }

    .bake {
        .container {
            .bake-main {
                .bake-image {
                    max-width: 400px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .menu {
        ul {
            width: 300px;
        }
    }

    .bake {
        .container {
            .advantages {
                margin-top: 88px;
                grid-template-columns: repeat(2, minmax(175px, 240px));
                grid-column-gap: 54px;
                grid-row-gap: 99px;
                align-items: start;
                justify-content: center;
                .advantage {
                    text-align: center;
                    .advantage-number {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }

    .choose {
        .container {
            .choose-macaroon {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-column-gap: 29px;
                grid-row-gap: 136px;
                justify-items: center;
                .macaroon {
                    width: 263px;
                    &-left {
                        justify-self: end;
                    }
                    &-right {
                        justify-self: start;
                    }
                }
            }
        }
    }

    .order {
        .container {
            .order-image {
                order: 2;
                width: 352px;
                img {
                    width: 100%;
                }
            }
            .order-info {
                margin-left: 0;
            }
        }
    }

    .main-content {
        padding-top: 68px;
        padding-bottom: calc(50%);
        .container {
            flex-direction: column;
            .main-content-image {
                position: absolute;
                bottom: calc(50% - 508px);
                left: calc(50% - 187px);
                img {
                    position: relative;
                }
            }
        }
    }
}

/*425 - 767*/
@media screen and (max-width: 769px) {
    .main {
        .main-content {
            .container {
                .main-content-text {
                    .main-content-description {
                        margin-bottom: 41px;
                    }
                }
            }
        }
    }

    .bake {
        padding-bottom: 120px;
        .bake-main {
            flex-direction: column;
            align-items: center;
            .bake-title {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            .bake-description {
                margin-bottom: 40px;
                max-width: 667px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            .bake-image {
                max-width: 302px;
            }
        }
    }

    .order  {
        .container {
            background-image: none;
            background-repeat: no-repeat;
            background-position-y: center;
            display: flex;
            align-items: flex-end;
            animation: image 3s infinite linear;
            position: relative;
            .order-image-strawberry {
                display: block;
                position: absolute;
                top: 116px;
                right: 93px;
                animation: strawberry 3s infinite linear;
                z-index: -10;
            }
            .order-info {
                .order-info-text {
                    width: 470px;
                }
            }
        }
    }

    @keyframes strawberry {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(0, 20px);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    .main {
        .header {
            .container {
                justify-content: start;
                .logo {
                    margin-right: 103px;
                }
                .phone {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 656px) {
    .choose {
        .container {
            .choose-macaroon {
                grid-template-columns: 1fr;
                grid-row-gap: 136px;
                justify-items: center;
                .macaroon-left {
                    justify-self: center;
                }
                .macaroon-right {
                    justify-self: center;
                }
            }
        }
    }

    .main {
        .header {
            padding-top: 38px;
            padding-bottom: 30px;
        }
        .main-content {
            padding-top: 57px;
            padding-bottom: 43px;
            .container {
                justify-content: center;
                align-items: center;
                .main-content-text {
                    h1 {
                        font-size: 32px;
                        line-height: 1.25;
                        text-align: center;
                    }
                    .main-content-description {
                        font-size: 16px;
                        line-height: 1.438;
                        margin: 40px auto;
                        text-align: center;
                    }
                    .main-content-action {
                        text-align: center;
                    }
                }
                .main-content-image {
                    position: relative;
                    max-width: 250px;
                    margin-top: 38px;
                    bottom: 0;
                    left: 0;
                    &::before {
                        width: 300px;
                        height: 300px;
                    }
                    &::after {
                        width: 300px;
                        height: 300px;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .order {
        .container {
            .order-image {
                position: absolute;
                z-index: -10;
                right: calc(50% - 268px);
                .order-image-strawberry {
                    top: -140px;
                    right: 104px;
                }
            }
            .order-info {
                h2 {
                    font-size: 30px;
                }
                .order-form {
                    .order-input {
                        width: 343px;
                    }
                    .button {
                        width: 343px;
                    }
                }
            }
        }
    }

    .footer {
        padding: 50px 0;
    }

    .bake {
        padding: 100px 0;
        .container {
            grid-row-gap: 36px;
            text-align: center;
            justify-items: center;
            .bake-info {
                .bake-title {
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 40px;
                }
                .bake-description {
                    width: 343px;
                    font-size: 16px;
                    margin-bottom: 59px;
                }
            }
            .advantages {
                margin-top: 60px;
                grid-row-gap: 36px;
                grid-template-columns: repeat(2, minmax(150px, 165px));
                .advantage {
                    text-align: center;
                    .advantage-number {
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .advantage-title {
                        font-size: 18px;
                    }
                    .advantage-description {
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 548px) {
    .main {
        .header {
            .container {
                justify-content: space-between;
                .logo {
                    margin-right: 0;
                }
                .menu {
                    display: none;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.73);
                    z-index: 100;
                    .close {
                        display: block;
                        width: 24px;
                        height: 24px;
                        fill: white;
                        position: absolute;
                        top: 45px;
                        left: 20px;
                    }
                    &.open {
                        display: flex;
                        align-items: center;
                    }
                    ul {
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        margin-left: auto;
                        margin-right: auto;
                        .menu-item {
                            margin: 25px 0;
                            a {
                                color: white;
                                font-size: 23px;
                            }
                        }
                    }
                }
                .burger {
                    display: block;
                    width: 36px;
                    svg {
                        fill: @text-red;
                    }
                }
            }
        }
    }

    .order {
        .container {
            .order-image {
                display: none;
            }
            .order-strawberry-adaptive {
                display: block;
                position: absolute;
                top: 112px;
                right: 13px;
                z-index: -10;
                animation: strawberry 3s infinite linear;
            }
            .order-info {
                .order-info-text {
                    max-width: 100%;
                }
            }
        }
    }

    .footer {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            .logo {
                margin-bottom: 40px;
            }
            .rights {
                align-self: center;
                order: 5;
            }
            .insta {
                align-self: center;
                order: 3;
                margin-bottom: 15px;
            }
            .insta-text {
                order: 4;
                margin-bottom: 40px;
            }
            .footer-phone {
                order: 2;
                margin-bottom: 40px;
            }
        }
    }
}

/*375 - 424*/
@media screen and (max-width: 424px) {
    .present {
        .popup {
            width: 141px;
            padding: 9px 10px;
            bottom: 35px;
            right: 107px;
            .present-text {
                font-size: 13px;
            }
        }
        .present-image {
            width: 60px;
            height: 60px;
            img {
                width: 40px;
            }
        }
    }

    .order {
        .container {
            .order-info {
                .order-info-text {
                    width: 100%;
                }
                .order-form {
                    .order-input {
                        width: 100%;
                    }
                    .button {
                        width: 100%;
                    }
                }
            }
        }
    }

    .bake {
        .container {
            .advantages {
                grid-column-gap: 15px;
            }
        }
    }

    .choose {
        .container {
            h2 {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .bake {
        .container {
            .bake-main {
                .bake-info {
                    .bake-description {
                        width: 100%;
                    }
                }
                .bake-image {
                    margin-bottom: 60px;
                }
            }
            .advantages {
                margin-top: 88px;
                grid-template-columns: 240px;
                grid-row-gap: 60px;
                align-items: center;
                justify-content: center;
                justify-items: center;
            }
        }
    }

    .main {
        .main-content {
            .container {
                .main-content-text {
                    h1 {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}



@import "theme";